<!DOCTYPE html>

<html>

<head>
    <title>Todo List</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0">
</head>


<body>

    <div class="wrapper">

        <nav class="gnb">
            <div class="gnb-user">chocoma87</div>
            <!-- <ul class="gnb-list list">
                <li><a href="#">전체보기</a></li>
                <li>카테고리
                    <ul class="list gnb-categoryList">
                        <li><a href="#">자바스크립트</a></li>
                        <li><a href="#">이력서</a></li>
                    </ul>
                </li>
            </ul> -->
        </nav>

        <div class="contents"></div>

    </div>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="/javascripts/menu.js"></script>
    <script src="/javascripts/helper.js"></script>
    <script src="/javascripts/rebuildEvents.js"></script>
    <script src="/dist/bundle.js"></script>

</body>


</html>
