<!DOCTYPE html>

<html>

<head>
    <title>Todo List</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0">
</head>


<body>

    <div class="wrapper">

        <nav class="gnb">
            <div class="gnb-user">chocoma87</div>
            <ul class="gnb-list list">
                <li><a href="#">전체보기</a></li>
                <li>카테고리
                    <ul class="list gnb-categoryList">
                        <li><a href="#">자바스크립트</a></li>
                        <li><a href="#">이력서</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <header class="header">
            <a href="#" class="header-menu">menu</a>
            <h1 class="header-title">투두리스트</h1>
            <div class="header-right">
                <button id="authorize-button" class="button">Sign In</button>
                <button id="signout-button" class="button">Sign Out</button>
                <a href="#" class="header-search">search</a>
                <a href="#" class="header-add">add</a>
            </div>
        </header>

        <div class="contents">
            <div class="listUnit">
                <div class="listUnit-date"><span class="day">월요일</span> <span class="date">2017.01.02</span></div>
                <ul class="listUnit-item">
                    <li><span>인천여행</span><span>더보기</span></li>
                </ul>
            </div>
        </div>


        <div class="modal addEventPopup">
            <input type="datetime-title" class="addEventPopup-title inpuText block">
            <input type="datetime-local" class="addEventPopup-date inpuText block">
            <input type="datetime-local" class="addEventPopup-date2 inpuText block">

            <div class="buttonWrapper">
                <a href="#" class="button" id="addEvent">Add Event</a>
                <a href="#" class="button white">취소</a>
            </div>
        </div>

    </div>

    <script src="/javascripts/menu.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="/javascripts/calendar.js"></script>

</body>


</html>
