<!DOCTYPE html>

<html>

<head>
    <title>Todo List</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0">
</head>



<body>

    <div class="wrapper">

        <nav class="gnb">
            <div class="gnb-user">chocoma87</div>
            <ul class="gnb-list list">
                <li><a href="#">전체보기</a></li>
                <li>카테고리
                    <ul class="list gnb-categoryList">
                        <li><a href="#">자바스크립트</a></li>
                        <li><a href="#">이력서</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <header class="header">
            <a href="#" class="header-menu">menu</a>
            <h1 class="header-title">투두리스트</h1>
            <div class="header-right">
                <a href="#" class="header-search">search</a>
                <a href="#" class="header-add">add</a>
            </div>
        </header>

        <div class="contents">
            <div class="listUnit">
                <div class="listUnit-date"><span class="day">월요일</span> <span class="date">2017.01.02</span></div>
                <ul class="listUnit-item">
                    <li><span>인천여행</span><span>더보기</span></li>
                </ul>
            </div>

            <div class="listUnit">
                <div class="listUnit-date"><span class="day">월요일</span> <span class="date">2017.01.02</span></div>
                <ul class="listUnit-item">
                    <li><span>인천여행</span><span>더보기</span></li>
                    <li><span>인천여행 한번 더하고 맛집 찾아가기</span><span>더보기</span></li>
                </ul>
            </div>
        </div>


        <div class="modal">
            <input type="text">
            <input type="date">
            <input type="submit" value="확인">
            <a href="#">취소</a>
        </div>

    </div>

    <script src="/javascripts/menu.js"></script>

</body>


</html>
