@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


/* common */
a {
    text-decoration: none;
    color: #333;
}
.clearFix:after {
    content: '';
    display: block;
    clear: both;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.buttonWrapper {
    text-align: center;
    margin: 20px 0;
}
.button {
    display: inline-block;
    padding: 5px;
    background: red;
    color: #fff;
    text-align: left;
    font-size: inherit;
    border: 0;
    box-sizing: border-box;
}
.button.white {
    background: none;
    color: #333;
    border: 1px solid #999;
}

.inpuText {
    border: 1px solid #ddd;
    font-size: inherit;
    height: 2em;
    box-sizing: border-box;
}
.inpuText.block {
    width: 100%;
}



/* layout */
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
}
.contents {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 60px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 10px 20px;
    background: #40901b;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    z-index: 10000;
}
.header-title {
    display: inline-block;
    margin: 0;
    font-weight: 400;
    vertical-align: middle;
    font-size: 1.2rem;
}
.header-menu,
.header-right {
    position: absolute;
    top: 10px;
}
.header-menu,
.header-add,
.header-search {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid pink;
    box-sizing: border-box;
    text-indent: -9999px;
}
.header-menu {
    left: 20px;
}
.header-right {
    right: 20px;
    white-space: nowrap;
}


.gnb {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    padding: 70px 20px 20px 20px;
    background: #f1f1f1;
    overflow: auto;
    transform: translate3d(-400px, 0, 0);
    box-sizing: border-box;
    transition: all 0.3s;
    z-index: 1000;
}
.gnb.open {
    transform: translate3d(0, 0, 0);
}
.gnb-user {
    padding: 10px 0;
    font-size: 1.2rem;
}
.gnb-list > li {
    margin: 10px 0;
}
.gnb-list a {
    display: block;
}
.gnb-categoryList {
    margin-top: 5px;
}
.gnb-categoryList li a {
    position: relative;
    padding: 6px;
    padding-left: 18px;
}
.gnb-categoryList li a:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #343838;
}
.gnb li a:hover {
    background: #fff;
}



/* module */
.modal {
    width: 300px;
    padding: 15px;
    border: 1px solid red;
    box-sizing: border-box;
}
.modal .buttonWrapper {
    margin-bottom: 0;
}

.listUnit {

}
.listUnit-date {
    padding: 4px 6px;
    background: #eee;
}
.listUnit-date .date {
    margin-left: 10px;
    font-size: 0.8em;
    color: #999;
}
.listUnit-item {
    margin: 0;
    padding: 0;
    list-style: none;
}
.listUnit-item li {
    position: relative;
    padding: 6px;
    border-bottom: 1px solid #eee;
}
.listUnit-edit {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    width: 30px;
    height: 20px;
    text-align: center;
}



/* style */
#authorize-button,
#signout-button {
    display: none;
}
#authorize-button.active,
#signout-button.active {
    display: inline-block;
}

/* media query */
@media only screen and (max-width: 700px) {
    .gnb {
        width: 100%;
    }
}
